<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canto Floral</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <header>
      <div class="icones1">
        <a href="https://m.facebook.com/oficinadassuculentas/" target="_blank"
          ><img src="../img/facebook.png" alt="Ícone do Facebook"
        /></a>
        <a
          href="https://www.instagram.com/oficinadassuculentas/"
          target="_blank"
          ><img src="../img/instagram.png" alt="Ícone do Instagram"
        /></a>
        <a
          href="https://api.whatsapp.com/message/PUQZKK3DW4FOO1?autoload=1&app_absent=0"
          target="_blank"
          ><img src="../img/whatsapp.png" alt="Ícone do WhatsApp"
        /></a>
      </div>
      <div class="duvidas">
        <h2>Dúvidas?</h2>
        <a
          href="https://api.whatsapp.com/message/PUQZKK3DW4FOO1?autoload=1&app_absent=0"
          target="_blank"
          ><img src="../img/whatsapp2.png" alt="Ícone do WhatsApp"
        /></a>
      </div>
      <span></span>
    </header>

    <nav>
      <div id="botao1">
        <a
          href="https://oficinadassuculentas.com/minha-conta/?action=register"
          target="_blank"
          ><button>Entrar/Registrar</button></a
        >
      </div>
      <p>CANTO</p>
      <div id="logo">
        <img src="../img/canto_floral.png" alt="logo" />
      </div>
      <p>FLORAL</p>
      <div id="botao2">
        <a href="https://oficinadassuculentas.com/carrinho/" target="_blank" draggable="false">
          <button>
            <img src="../img/carrinho.png" alt="Ícone do carrinho"/>
            R$ 0,00
          </button>
        </a>
      </div>
    </nav>
    <hr>
    <div class="paragrafo">
      <a
        href="https://suculentasrarasholambra.com/processo-de-envio/"
        target="_blank"
        ><p>Processo de Envio</p>
      </a>
      <a href="https://suculentasrarasholambra.com/comocuidar/" target="_blank">
        <p>Como cuidar</p>
      </a>
      <a href="https://oficinadassuculentas.com/" target="_blank">
        <p>Produtos</p>
      </a>
      <a
        href="https://suculentasrarasholambra.com/perguntasfrequentes/"
        target="_blank"
      >
        <p>Perguntas Frequentes</p>
      </a>
    </div>
    <hr>

    <main>
      <div class="barra-pesquisa">
        <input type="text" placeholder="Buscar por produtos..." />
      </div>

      <img src="../img/banner_floral.png" alt="canto" />
    </main>
  </body>
</html>