.botao_comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 58px;
    font-size: 32px;
    font-family: var(--fonte-principal);
    border: none;
    color: #ffffff;
    background-color: #697CC3;
    border-radius: 5px;
    cursor: pointer;
}
.botao_comprar:hover {
    transition: .3s;
    border: 3px solid #000000;
}
.botao_comprar:active {
    transition: 0.1s;
    background-color: #3f4b77;
}
.botao_comprar input[type=checkbox] {
    height: 35px;
    width: 45px;
    margin-left: 10px;
}